//@import 'common/greating';

//Common styles

* {
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
}

body {
	font: 100%/1.5em Arial, Helvetica, sans-serif;
	color: #fff;
	box-sizing: border-box;
}

.fluid-bg {
	background:  #eeddbf url("../img/1800_bg.jpg");
	background-size: cover;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}

/* Fonts Styles */

@font-face {
	font-family: "Roboto Light", sans-serif;
	src: url(../assets/fonts/roboto-light.ttf);
}

@font-face {
	font-family: "Roboto Regular", sans-serif;
	src: url(../assets/fonts/roboto-regular.ttf);
}

@font-face {
	font-family: "Roboto Medium", sans-serif;
	src: url(../assets/fonts/roboto-medium.ttf);
}

@font-face {
	font-family: "Roboto Bold", sans-serif;
	src: url(../assets/fonts/roboto-bold.ttf);
}

// Header styles

.header {
	height: 85px;
	margin-bottom: 163px;
}

.authorization {
	font-family: "Roboto Medium";
	font-size: 16px;
	float: right;
	margin-top: 20px;
	margin-right: 98px;
	width: 180px;
	height: 45px;
	border-radius: 5px;
	border: 2px solid #fff;
}

.authorization__link {
	display: block;
	margin-top: 10px;
	margin-left: 25px;
	width: 80%;
	height: 80%;
}

//Content styles

.content {
	margin: auto;
	width: 380px;
	border-radius: 5px;
	background: rgba(215,191,155, 0.6);
	text-align: center;
}

.push {
	height: 40px;
}

.ava {
	border-radius: 50%;
	overflow: hidden;
	width: 140px;
	height: 140px;
	margin-left: 118px;
	margin-bottom: 20px;
}

.presentation {
	text-align: center;
	margin-bottom: 30px;
	padding: 0 50px;
}

.presentation_name {
	font-family: "Roboto Medium";
	font-size: 1.75rem;
	margin-bottom: 8px;
}

.presentation_site {
	font-family: "Roboto Medium";
	font-size: 1rem;
}

.opacity-8 {
	opacity: 0.8;
}

//Social & Menu styles

.socials__item, .nav__item {
	display: inline-block;
	margin-left: 22px;
}

.item_left {
	margin-left: 0;
}

.opacity-7 {
	opacity: 0.7;
}

.socials__link:hover {
	opacity: 1.0;
}

.socials {
	margin-bottom: 35px;
}

.nav {
	font-family: "Roboto Medium";
	font-size: 1em;
	background-color: #efab26;
}

.nav__list {
	background-color: #e7a831;
	display: table;
	width: 100%;
}

.nav__item {
	display: table-cell;
	padding: 10px 0 10px;
}

.nav__item:hover {
	background-color: #d18712;
}

.item_1 {
	width: 40%;
}

.item_2 {
	width: 35%;
	border: 2px solid #e2c58c;
	border-top: none;
	border-bottom: none;
}
.item_3 {
	width: 25%;
}

//Footer styles

.wrapper {
	min-height: 100%;
}

.maincontent {
	padding-bottom: 100px;
	min-height: 100%;
}

.footer {
	font-family: "Roboto Light";
	font-size: 1rem;
	height: 100px;
	margin-top: -100px;
	text-align: center;
}

// .footer__content {
// 	margin-top: 40px;
// }