// COMMON STYLES FOR ALL PAGES

@import 'common/common';

//MAIN PAGE STYLES

.body_main-page {
	background:  #eeddbf url("../img/1800_bg.jpg");
	background-size: cover;
}

// header

.header_main-page {
	height: 85px;
	margin-bottom: 163px;
}

.authorization {
	font-family: "Roboto Medium";
	font-size: 16px;
	float: right;
	margin-top: 23px;
	margin-right: 98px;
	width: 180px;
	height: 45px;
	border-radius: 5px;
	border: 2px solid #fff;
}

.authorization__link {
	display: block;
	margin-top: 10px;
	margin-left: 25px;
	width: 80%;
	height: 80%;
}

//content

.content_main-page {
	margin: auto;
	width: 380px;
	border-radius: 5px;
	background: rgba(215,191,155, 0.6);
	text-align: center;
}

.push {
	height: 40px;
}

.ava {
	border-radius: 50%;
	overflow: hidden;
	width: 140px;
	height: 140px;
	margin-left: 118px;
	margin-bottom: 20px;
}

.presentation {
	text-align: center;
	margin-bottom: 30px;
}

.presentation_name {
	font-family: "Roboto Medium";
	font-size: 1.75rem;
	margin-bottom: 8px;
}

.presentation_site {
	font-family: "Roboto Medium";
	font-size: 1rem;
	opacity: 0.8;
}


//social & menu

.socials {
	font-size: 0;
	margin-bottom: 30px;
}

.socials__item {
	display: inline-block;
	margin: 0 15px;
	opacity: 0.7;
}

.socials__item:hover {
	opacity: 1;
}


// navigation

.nav_main-page {
	font-family: "Roboto";
	font-size: 0;
	background-color: #efab26;
}

.nav__list {
	background-color: #e7a831;
	height: 45px;
}

.nav__item {
	display: inline-block;
	font-size: 1rem;
	padding: 10px 31.1px 11px;
	border-left: 2px solid #e2c58c;
}

.nav__item:hover {
	background-color: #d18712;
}

.item_1 {
	border: none;
}

//footer

.wrapper {
	min-height: 100%;
}

.maincontent_main-page {
	padding-bottom: 60px;
}

.footer_main-page {
	height: 60px;
	margin-top: -60px;
	font-family: "Roboto Light";
	font-size: 1rem;
	text-align: center;
}

//LOGIN PAGE STYLES


.footer_login-page {
	font-family: "Roboto Light";
	font-size: 1rem;
	height: 100px;
	margin-top: -100px;
	text-align: center;
}