// BODY STYLES
* {
  margin: 0;
  padding: 0;
}

html, body {
	height: 100%;
}

body {
	font: 100%/1.5em Arial, Helvetica, sans-serif;
	color: #fff;
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}

//FONTS

/* Fonts Styles */

@font-face {
	font-family: "Roboto Light", sans-serif;
	src: url(../assets/fonts/roboto-light.ttf);
}

@font-face {
	font-family: "Roboto", sans-serif;
	src: url(../assets/fonts/roboto-regular.ttf);
}

@font-face {
	font-family: "Roboto Medium", sans-serif;
	src: url(../assets/fonts/roboto-medium.ttf);
}

@font-face {
	font-family: "Roboto Bold", sans-serif;
	src: url(../assets/fonts/roboto-bold.ttf);
}
