// BODY STYLES
* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font: 100%/1.5em Arial, Helvetica, sans-serif;
	color: #fff;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #fff;
	display: block;
}

p {
	padding: 0;
	margin: 0;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

//FONTS

/* Fonts Styles */

@font-face {
	font-family: "Roboto Light", sans-serif;
	src: url(../assets/fonts/roboto-light.ttf);
}

@font-face {
	font-family: "Roboto", sans-serif;
	src: url(../assets/fonts/roboto-regular.ttf);
}

@font-face {
	font-family: "Roboto Medium", sans-serif;
	src: url(../assets/fonts/roboto-medium.ttf);
}

@font-face {
	font-family: "Roboto Bold", sans-serif;
	src: url(../assets/fonts/roboto-bold.ttf);
}

@font-face {
	font-family: "Sansus Webissimo", sans-serif;
	src: url(../assets/fonts/Sansus-Webissimo-Regular.ttf);
}



